/* GEOPATTERN */
.geopattern {
  position: relative;
  padding: var(--riv-layout-padding-v) var(--riv-layout-padding-h);
  overflow: hidden;
  border-radius: var(--riv-layout-border-radius);
}

.geopattern::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--riv-geopattern-bg);
}
.geopatternBlur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}
.geopatternContent {
  position: relative;
  composes: global(riv-text-emboss);
}
