/* CARD */
.rivCard {
  display: flex;
  border-radius: var(--riv-layout-border-radius);
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  min-width: 0;
  background-color: var(--riv-card-bg);
  padding: var(--riv-card-padding);
}

/* PROP OPTIONS */
.rivCard:global(.border) {
  border: var(--riv-card-border);
}

/* CARD SLOTS */
.rivCardTitle {
  flex: none; /* don't let flex squash titlebar */
  font-size: var(--riv-card-title-font-size);
  font-weight: var(--riv-card-title-font-weight);
  text-align: left;
  padding: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
}
.rivCardTitle:empty {
  display: none;
}
.rivCardSubTitle {
  font-size: var(--riv-card-subtitle-font-size);
  font-weight: var(--riv-card-subtitle-font-weight);
  text-align: left;
  padding: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
}
.rivCardSubTitle:empty {
  display: none;
}
.rivCardDescription {
  font-size: var(--riv-card-description-font-size);
  font-weight: var(--riv-card-description-font-weight);
  text-align: left;
  padding: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
}
.rivCardDescription:empty {
  display: none;
}
