/*--------------------------------------*/
/* CARD */
/*--------------------------------------*/
.rivCard {
  display: flex;
  border-radius: var(--riv-card-border-radius);
  flex: 0 1 auto;
  flex-direction: column;
  min-width: 0;
  background-color: var(--riv-card-bg);
  padding: var(--riv-card-padding);
}

/* PROP OPTIONS */
.rivCard:global(.border) {
  border: var(--riv-card-border);
}
.rivCard:global(.grow) {
  flex-grow: 1;
}

/* SLOTS */
.rivCardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
/* remove bottom margin when there is no default slot content */
.rivCardHeader:only-child {
  margin-bottom: 0;
}
/* CARD SLOTS */
.rivCardTitle {
  flex: none; /* don't let flex squash titlebar */
  font-size: var(--riv-card-title-font-size);
  font-weight: var(--riv-card-title-font-weight);
  text-align: left;
  display: flex;
  align-items: center;
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
  composes: global(riv-text-emboss);
}
.rivCardTitle:empty {
  display: none;
}
.rivCardSubTitle {
  font-size: var(--riv-card-subtitle-font-size);
  font-weight: var(--riv-card-subtitle-font-weight);
  text-align: left;
  display: flex;
  align-items: center;
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
  composes: global(riv-text-emboss);
}
.rivCardSubTitle:empty {
  display: none;
}
.rivCardDescription {
  font-size: var(--riv-card-description-font-size);
  font-weight: var(--riv-card-description-font-weight);
  text-align: left;
  margin: 0; /* reset <p> margin */
  cursor: default;
  gap: var(--riv-card-gap, 0.3em);
  composes: global(riv-text-emboss);
}
.rivCardDescription:empty {
  display: none;
}
