/*--------------------------------------*/
/* SidebarOnly */
/*--------------------------------------*/
.sidebarOnly {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sidebarOnlyContent {
  flex-grow: 1;
  padding: 0.5em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------*/
/* CenteredColumn */
/*--------------------------------------*/

.centeredColumn {
  align-self: center;
  composes: global(riv-mobile-full-width);
}
