body {
  --riv-inputs-placeholder-padding: 0 0.1em 0 0.1em;

  --riv-inputs-min-width: 100px;
  --riv-inputs-text-font-weight: 300;
  --riv-inputs-text-placeholder-font-weight: 400;
  --riv-inputs-text-fg: var(--riv-text-color);
  --riv-inputs-text-padding: 0 0.4em;

  --riv-inputs-text-shaded-bg: var(--riv-dark);
  --riv-inputs-text-inner-gap: 0.2em;

  --riv-inputs-editor-border-radius: 10px;
}


body.riv-dark {

  --riv-inputs-editor-bg: var(--riv-darker);
  --riv-inputs-editor-border-color: var(--riv-outline);
  --riv-inputs-editor-toolbar-bg: var(--riv-dark);
  --riv-inputs-editor-gutter-bg: var(--riv-dark);
}
