.icon {
  height: 1.2em;
  width: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iconSvg > :global(svg) {
  width: 100%;
  height: 100%;
}

.icon :global(path),
.icon :global(rect) {
  fill: var(--riv-text-color);
  stroke: var(--riv-text-color) !important;
}
